* {
	box-sizing: border-box;
}

html,body {
    height:100%;
    width: 100%;
		background-image: url("Images/Background.png");
		background-size: cover;
}

.knappar {
	padding-top: 2px;
	padding-bottom: 2px;
	float: left;
}

input {
	border-color: black;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	padding: 5px;
}

#back {
	float: left;
	margin-left: auto;
}

.country {
	border-color: black;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	padding: 5px;
	width: 30%;
	float: left;
	background-color: #bfbfbf;
padding-left: 10px;
width: 300px;
margin: 10px;
}

h2 {
	width: 40%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
	float:left;
}


.skepp {
	margin: 0px;
	margin-top: 30px;
	margin-right: 15px;
	float: right;
	margin-left: 0px;
}

.templSkepp1 {
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-right: none;
	float: left;
	width: 25px;
	height: 25px;

}
.templSkepp2 {
	border-style: solid;
	border-color: black;
	border-width: 3px;
	float: left;
	width: 25px;
	height: 25px;
}

.skeppDEF {
	background-color: #333333;
}
.skeppDEU {
	background-color: #FFCE00;
}
.skeppDNK {
	background-color: #C60C30;
}
.skeppEST {
	background-color: #0072CE;
}
.skeppFIN {
	background-color: #003580;
}
.skeppLTU {
	background-color: #006A44;
}
.skeppLVA {
	background-color: #9E3039;
}
.skeppNOR {
	background-color: #002868;
}
.skeppSWE {
	background-color: #006AA7 ;
}
.skeppITA {
	background-color: #009344 ;
}
.skeppBEL {
	background-color: #FAE042 ;
}



p {
	margin: 0px;
	margin-left: 5px;
	margin-top: 3px;
	padding: 0px;
	float: left;
}
